<html>
  <head>
    <meta charset="UTF-8" />
    <title>Contact</title>
 </head>  
<body>

 <div>
    <label for="name">Prénom&nbsp;:</label>
    <input type="text" id="name" name="user_name" />
  <div>
  <div>
    <label for="name">Nom&nbsp;:</label>
    <input type="text" id="name" name="user_name" />
  <div>

  <div>
    <label for="msg">Message&nbsp;:</label>
    <textarea id="msg" name="user_message"></textarea>
  </div>

  <div class="button">
    <button type="submit">Envoyer /button>
  </div>
</form>

</body>
</html>
